@model amsdemo.ViewModel.RequestVM


@{
    ViewBag.Title = "Request Detail";
}
<div class="ibox">

    <div class="ibox-body">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#pill-1-1" data-toggle="tab">Request Detail</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="pill-1-1">


                @using (Html.BeginForm("RequestDetail", "Requests", FormMethod.Post))
                {


                    @Html.HiddenFor(model => model.RequestId)


                    <div class="col-sm-4 col-form-label" style="left:350px;">
                        <h4 style="color:blue;">Resignation Details</h4>
                    </div>
                    <br />
                    <div class="form-group row" style="left:350px;">
                        <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                            Company:
                        </label>
                        <div class="col-md-10">
                            <label class="col-sm-2 col-form-label" style="left:350px; ">
                                @Html.DisplayFor(model => model.CompanyName)
                            </label>
                        </div>
                    </div>

                    <div class="form-group row ">
                        <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                            City:
                        </label>
                        <div class="col-md-10">
                            <label class="col-sm-2 col-form-label" style="left:350px;">
                                @Html.DisplayFor(model => model.CityName)
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                            Department:
                        </label>
                        <div class="col-md-10">
                            <label class="col-sm-2 col-form-label" style="left:350px; ">
                                @Html.DisplayFor(model => model.DepartmentName)
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                            Job Title:
                        </label>
                        <div class="col-md-10">
                            <label class="col-sm-2 col-form-label" style="left:350px; ">
                                @Html.DisplayFor(model => model.Position)
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                            Name:
                        </label>
                        <div class="col-md-10">
                            <label class="col-sm-2 col-form-label" style="left:350px; ">
                                @Html.DisplayFor(model => model.EmployeeName)
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                            Reason of Resignation:
                        </label>
                        <div class="col-md-10">
                            <label class="col-sm-2 col-form-label" style="left:350px; ">
                                @Html.DisplayFor(model => model.ReasonofRequests)
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                            Request Date:
                        </label>
                        <div class="col-md-10">
                            <label class="col-sm-2 col-form-label" style="left:350px; ">
                                @Html.DisplayFor(model => model.DateofRequest)
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                            Last Working Date:
                        </label>
                        <div class="col-md-10">
                            <label class="col-sm-2 col-form-label" style="left:350px; ">
                                @Html.DisplayFor(model => model.LastWorkingDate)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.CompanyCode, new { @class = "control-label" })
                        @Html.EditorFor(a => a.CompanyCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(a => a.CompanyCode)
                    </div>


                    <div class="form-group">

                        @Html.LabelFor(model => model.CityCode, new { @class = "control-label" })
                        @Html.EditorFor(a => a.CityCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(a => a.CityCode)
                    </div>


                    <div class="form-group">

                        @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label" })
                        @Html.EditorFor(a => a.DepartmentId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(a => a.DepartmentId)
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.Position, new { @class = "control-label" })
                        @Html.EditorFor(a => a.Position, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(a => a.Position)
                    </div>


                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Approve" />
                    </div>


                }
                @using (Html.BeginForm("Reject", "Requests", FormMethod.Post))
                {
                    @Html.EditorFor(model => model.RequestId, new { htmlAttributes = new { @id = "getReqId", @class = "form-control", @name = "Id", @type = "hidden" } })



                    <div class="form-group">
                        <input class="btn btn-danger" type="submit" value="Reject" />
                    </div>

                }
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>
       $(function () {
            var successMessage = '@TempData["SuccessMessage1"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

    </script>
    <script>
        $(function () {
            var errorMessage = '@TempData["ErrorMessage1"]'
            if (errorMessage != '')
                alertify.error(errorMessage);
        });

    </script>
}