@model amsdemo.Models.tblUser

@{
    /**/

    ViewBag.Title = "Create Users";
}

<h2>CreateUsers</h2>

<div class="ibox-body">


    @using (Html.BeginForm("CreateUsers", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @id = "getUsername", @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartmentId, new { htmlAttributes = new { @id = "getdepId", @class = "form-control input-sm", @type = "hidden" } })

            </div>
        </div>



        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @id = "getempId", @class = "form-control input-sm", @type = "hidden" } })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" data-backdrop="false">
                    Employee List
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" id="btnAdd"/>
            </div>
        </div>


    }

</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div class="modal" id="myModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content responsive">
                        <div class="modal-header" style="background-color:#0026ff; color:white;">
                            <h4 class="modal-title">Select Employees to Create User </h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body" style="overflow: auto">
                            <form>
                                <table id="example" class="table table-striped table-hover responsive table-responsive">
                                    <thead>
                                        <tr style="background-color:#0094ff; color:#ecf0f1">
                                            <th>Employee ID</th>
                                            <th>Employee Name</th>
                                            <th>Department ID</th>
                                            <th>Department Name</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>Employee ID</th>
                                            <th>Employee Name</th>
                                            <th>Department ID</th>
                                            <th>Department Name</th>
                                        </tr>
                                    </tfoot>


                                </table>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts{

    <script>
       $('#btnAdd').on('click', function () {
           if ($('#getempId').val() == '' || ($('#getdepId').val() == '')) {
               alert("Select from Employee List to Create Users");
           }
    </script>
    <script>
       $(function () {
            var successMessage = '@TempData["SuccessMessage1"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
    <script>
        $(function () {
            var errorMessage = '@TempData["ErrorMessage1"]'
            if (errorMessage != '')
                alertify.error(errorMessage);
        });
    </script>




    <script type="text/javascript">
        var Popup, dataTable;
        $(function () {
            $('#example').DataTable({
                pageLength: 5,
                "ajax": {
                    "url": '/admin/GetEmployeeList',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "EmployeeId", "authowidth": false },
                    { "data": "EmployeeName", "authowidth": false },
                    { "data": "DepartmentId", "authowidth": false },
                    { "data": "DepartmentName", "authowidth": false }

                ]
            });

        });
        document.getElementById('example').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement;
            while (target && target.nodeName != 'TR') {
                target = target.parentElement;
            }
            var cells = target.cells;
            if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                return;
            }
            //alert(cells[1].innerHTML);
            $(function () {
                $('#getempId').val($.trim(cells[0].innerHTML));
                $('#getUsername').val($.trim(cells[1].innerHTML));
                $('#getdepId').val($.trim(cells[2].innerHTML));
                $('#myModal').modal('hide');

            });



            //focuses cursor on username field
            document.getElementById('getUsername').focus();


        }
    </script>









}